/* Formatting for the entire document. */

html{
	max-width: 70ch;
	margin: 2%;
	font-family: 'Neuton', serif;
}

/* Master formatting for header navigation bar. */

header{
	font-family: calibre;
	font-weight: bold;
}

/* Links in the header will not be underlined */

header a{
	text-decoration: none;
}

/* Formatting for my name in the header */

header p{
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}

/* Formatting for my nav list in the header */

header nav	ul{
	list-style-type: none;
	float: right;
	margin: 0;
	padding: 0;
}

header nav li{
	display: inline-block;
	margin-left: 15px;
}

/* Within the header, this middle justifies the left-aligned name and the right-aligned nav bar . */

header::after{
	content:"";
	display: table;
	clear: both
}