:root {
  color: black;
	font-family: 'Spectral';
	font-weight: 300;
	background-color: #fff1e5;
  letter-spacing: -.02em;
}

h1 {
	font-size: 22px;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 900;
  letter-spacing: -.01em;
  margin: 0;
}

h2 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 20px;
  margin: 0;
}

p {
  margin: 0px 0px 24px;
}

p:last-of-type {
  margin: 0px;
}

.content {
  padding: 20px 16px 0px;
  max-width: 435px;
  margin-bottom: 60px;
}

.content-projects {
  padding: 20px 16px 0px;
  margin-bottom: 60px;
}

body {
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.writing__2022 {
  display: flex;
  gap: 0px 60px;
}

a.essay {
  width: 100%;
}

.essay-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.navbar a {
  text-decoration: none;
}

.nav-sections {
  align-items: center;
  display: flex;
  font-size: 16px;
  gap: 20px;
  height: 40px;
  padding: 0px 16px 0px;
}

.underline {
  border: solid grey .5px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 4px;
}

.topbar-name {
  font-weight: 700;
}

.menu-item {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-bottom: solid transparent 3px;
  margin-bottom: 3px;
}

a {
  color: black;
}

.content a {
  font-weight: 700;
}

a:hover {
  color: #33302e;
}

a:visited {
  color: black;
}

.menu-item.focused {
  font-weight: 700;
  border-bottom: solid black 3px;
}

.section-heading {
  margin-bottom: 16px;
}

footer {
  bottom: 0px;
  height: 40px;
  left: 0px;
  position: fixed;
  width: 100%;
  background-color: #fff1e5;
}

.footer-content {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0px 16px;
  width: 100%;
  font-size: 16px;
}

.archive {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}

.archive-entry {
  display: flex;
  flex-direction: column;
}

.archive-entry-link {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Frank Ruhl Libre', serif;
  text-decoration: none;
}

.archive-entry-date {
  font-style: italic;
}

.archive-entry-preview {
  color: #33302e;
}

.blogpost img {
  max-width: 100%;
}

a h1:hover {
  color: #33302e;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.project-entry {
  background: #fff9f5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
}

.project-entry-title {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Frank Ruhl Libre', serif;
  text-decoration: none;
  margin-bottom: 2px;
}

.project-entry-date {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 6px;
}

.project-entry-preview {
  color: #33302e;
  margin-bottom: 10px;
}

.project-entry-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  margin-bottom: 8px;
}

.project-entry-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 15px;
  margin-top: auto;
}

.project-entry-actions a {
  text-decoration: underline;
}

.project-entry-actions a:hover {
  color: gray;
}

.project-entry-actions a:after {
  content: "↗";
}

span.chiclet {
  background-color: lightgray;
  border-radius: 3px;
  font-family: 'Courier Prime';
  font-size: 12px;
  padding: 2px 4px;
}

.commissioned {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 589px) {
  .project-entry {
    width: 100%;
  }
}
